<div class="masthead">
  <div class="header">
    <h1>Sea Battle</h1>
    <h3>The classic Naval Combat Game</h3>
  </div>
  <div>
    <ul>
      <li class="navigation"><%= link_to "New Game", pages_game_path %></li>
      <li class="navigation"><%= link_to "How to Play", pages_howto_path %></li>
      <li class="navigation"><%= link_to "About", pages_about_path  %></li>
    </ul>
  </div>
</div>
