<h1>Pages#game</h1>
 <canvas id="OceanGrid" width="398" height="398">Your browser does not suport the HTML canvas tag.</canvas><br>
  <div id="OceanGridCord"></div>
  <script>
    drawGrid('OceanGrid');
  </script>

  <canvas id="TargetGrid" width="398" height="398">Your browser does not suport the HTML canvas tag.</canvas><br>
  <div id="TargetGridCord"></div>
  <script>
    drawGrid('TargetGrid');
  </script>
