<h1>Pages#game</h1>

<!-- I think I can move this canvas drawing into the js file and then use the draw grid function only -->
<div>
  <canvas id="OceanGrid" width="398" height="398" class="inline">Your browser does not suport the HTML canvas tag.</canvas>

  <script>
    drawGrid('OceanGrid');
  </script>

  <canvas id="TargetGrid" width="398" height="398" class="inline">Your browser does not suport the HTML canvas tag.</canvas>

  <script>
    drawGrid('TargetGrid');
  </script>
</div>
<div>
  <div style="padding: 100px;" id="OceanGridCord" class="inline"></div>
  <div style="padding: 75px;" id="TargetGridCord" class="inline"></div>
</div>

<div id="drag"></div>
